
@{
    ViewBag.Title = "Offer";
}

<h2>Вам предлагается следующий тариф</h2>

<div class="row">
    <div class="col-md-4">

        <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
            <thead>
                <tr class="info">
                    <th>Услуга
                    </th>
                    <th>Цена
                    </th>
                </tr>
            </thead>
            <tr>
                <td>Звонки</td>
                <td>10 руб/мин</td>
            </tr>
            <tr>
                <td>Интернет</td>
                <td>10 руб/мб</td>
            </tr>
        </table>        
    </div>
</div>


<button class="btn btn-primary" onclick="document.location.href='/WorkflowSample/EditForm';">
    Получить промо-код
</button>


<button class="btn btn-danger " onclick="document.location.href='/WorkflowSample/EditForm';">
    Отказаться
</button>