<div class="header">
    <div class="header-wrap">
        <div class="center">
            <br><br>
            <h1>Здравствуйте!</h1>
        </div>
    </div><!--header-wrap-->
</div><!--header-->
<div class="content">
    <div class="content-wrap">
        <div class="center">
            <h2>Тариф &laquo;#Можно.ВСЁ&raquo;</h2>
            <br><br>
            <div class="large" style="padding-bottom:25px">
                Вы студент и у вас есть профиль социальной сети ВКонтакте?<br>
                У нас есть для вас нечто классное!<br>
            </div>
            <a href="/Vk" class="btn-link blue">Посмотреть предложение</a>
            <br><br><br><br>
            <div class="large" style="padding-bottom:25px">
                Если вы не студент или у вас нет профиля ВКонтакте,<br>
                воспользуйтесь нашим персональным предложением
            </div>
            <a href="@ViewBag.PersonalBeelineUrl" class="btn-link">Посмотреть предложение</a>
        </div>

    </div><!--content-wrap-->
</div><!--content-->
