<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://alt-lan.com/schemas/log"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://alt-lan.com/schemas/log AltLanDS.Logging.xsd">

  <sinks>
    <rollingFlatFileSink name="vk"  rollSizeKB="2048" fileName="logs\vk.log"
                         rollFileExistsBehavior="Overwrite" rollInterval="Midnight"
                         maxArchivedFiles="20" timeStampPattern="yyyy-MM-dd hh.mm.ss">
      <sources>
        <eventCategory name="vk"/>
      </sources>
      <eventTextFormatter header="----------"/>
    </rollingFlatFileSink>

    <rollingFlatFileSink name="cbn"  rollSizeKB="2048" fileName="logs\cbn.log"
                       rollFileExistsBehavior="Overwrite" rollInterval="Midnight"
                       maxArchivedFiles="20" timeStampPattern="yyyy-MM-dd hh.mm.ss">
      <sources>
        <eventCategory name="cbn"/>
      </sources>
      <eventTextFormatter header="----------"/>
    </rollingFlatFileSink>
    
  </sinks>

</configuration>
