<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://alt-lan.com/schemas/log"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://alt-lan.com/schemas/log AltLanDS.Logging.xsd">

  <sinks>
    <rollingFlatFileSink name="fttbSelfCare"  rollSizeKB="2048" fileName="logs\default.log"
                         rollFileExistsBehavior="Overwrite" rollInterval="Midnight"
                         maxArchivedFiles="20" timeStampPattern="yyyy-MM-dd hh.mm.ss">
      <sources>
        <eventCategory name="fttbSelfCare"/>
      </sources>
      <eventTextFormatter header="----------"/>
    </rollingFlatFileSink>
    <rollingFlatFileSink name="uss"  rollSizeKB="2048" fileName="logs\uss.log"
                       rollFileExistsBehavior="Overwrite" rollInterval="Midnight"
                       maxArchivedFiles="20" timeStampPattern="yyyy-MM-dd hh.mm.ss">
      <sources>
        <eventCategory name="uss"/>
      </sources>
      <eventTextFormatter header="----------"/>
    </rollingFlatFileSink>
    <rollingFlatFileSink name="errors"  rollSizeKB="2048" fileName="logs\errors.log"
                           rollFileExistsBehavior="Overwrite" rollInterval="Midnight"
                           maxArchivedFiles="20" timeStampPattern="yyyy-MM-dd hh.mm.ss">
      <sources>
        <eventCategory name="errors"/>
      </sources>
      <eventTextFormatter header="----------"/>
    </rollingFlatFileSink>

    --><!-- For Trace table SQL scripts see 
    http://slab.codeplex.com/SourceControl/latest#source/Scripts/CreateSemanticLoggingDatabaseObjects.sql 
    
    and
    http://slab.codeplex.com/SourceControl/latest#source/Scripts
    --><!--

    --><!--<sqlDatabaseSink name="hotline"
                     instanceName="HotLineDB"
                     connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=HotLine;Integrated Security=SSPI;"
                     bufferingIntervalInSeconds="3"
                     bufferingCount="10">
      <sources>
        <eventCategory name="hotline"/>
      </sources>
    </sqlDatabaseSink>--><!--
  </sinks>

</configuration>-->
